/* pc*/
@media(min-width: 1024px){

}
/*tablet&mobile*/
@media(max-width:1023px){
    .btn{
        padding: 15px 16px;
    }
    #nav .subnav a{
        padding: 5px 12px;
    }
    .contact-form .form-control{
        padding: 15px;
    }
    .contact-infor{
        line-height: 2;
    }
    .socials-list{
        font-size: 48px;
    }
    .socials-list a{
        margin: 0 8px;
    }
    #footer .copyright a{
        padding: 12px 0;
        display: inline-block;
    }
    
}
/*tablet*/
@media(min-width:740px) and (max-width:1023px){
   
    
}
/*moblie*/
@media(max-width:739px){
    .s-full-width,
    .s-colum-full{
        width: 100% !important;
    }
   
    .s-mt-8{
        margin-top: 8px !important;
    }
    #heard{
        overflow: hidden;
    }
    #heard .mobile-menu-btn{
        display: block;
    }
    #heard .search-btn{
        display: none;
    }
    #nav{
        display: block;
    }
    #nav li a{
        padding: 1px 24px;
    }
    #nav > li{
        display: block;
    }
    #nav> li:first-child{
        display: inline-block;
    }
    #nav .subnav{
        position: initial;
        background-color: #333;
    }
    #nav .subnav a{
        color: #fff;
        padding: 5px 41px;
    }
    #content .member-item{
        width: 100%;
        margin-top: 30px;
    }
    #content .menber-img{
        width: 60%;
    }
    .contact-form{
        margin-top: 32px;
    }
    
    
}