/*reset css*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
.text-center{
    text-align: center !important;
}
.text-while{
    color: #fff !important;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.mt-32{
    margin-top: 32px !important;
}
.pull-right{
    float: right !important;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.colum{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.colum-full{
    width: 100%;
}
.colum-half{
    width: 50%;
}
.colum-thir{
    width: 33.33333%;
}
.btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    text-align: center;
}
.btn:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

/* main*/
#heard{
    height: 46px;
    background-color: black;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    z-index: 1;
    
}
.main{
    
}
#nav,.subnav{
    list-style: none;
}
#nav> li{
    display: inline-block;
}
#nav li{
    
    position: relative;
    
}
#nav> li> a{
    text-transform: uppercase;
    color: white;
}
#nav li a{
    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
    
}
#nav li:hover .subnav{
    display: block;
}
#nav> li:hover> a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}
#nav{
    display: inline-block;
}
#nav .subnav{
    display: none;
    position: absolute;
    top:100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0, 0, 0.3) ;    
    min-width: 160px;
}
#nav .subnav a{
    color: #000;
    padding: 0 15px;
    line-height: 38px;
}
#nav .nav-arrow-down{
    font-size: 14px;
}
#heard .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
#heard .mobile-menu-btn,
#heard .search-btn{
    float:right ;
    padding: 0 21px;
    
    
}

#heard .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}
#heard .mobile-menu-btn:hover{
    background-color: #ccc;
}
#heard .mobile-menu-btn:hover .menu-icon {
    color: #000;
}
#heard .menu-icon ,
#heard .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    
}

#slider{
    height: min-content;
    margin-top: 46px;
    padding-top: 50%;
    position: relative;
}
#slider .text-content{
    /*  left: 50%;
        transform: translateX(-50%);*/
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    text-align: center;
    
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}
#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0 0 0 1px #000;
}
#content .conten-section{
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    max-width: 100%;
    padding-left: 16px; 
    padding-right: 16px;
}
#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;

}
#content .section-sub-heading{
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}
#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.5;
}
#content .menber-list{
    margin-top: 32px;
}
#content .menber-name{
    font-size: 15px; 
}
#content .menber-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
/* tour*/
.tour-section{
    background-color: #000;
}
.tickest-list{
    background-color: #fff;
    margin-top:40px;
    list-style: none;

}
.tickest-list li{
    font-size: 15px;
    padding: 12px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}
.tickest-list .sold-out{
    background-color:#f44336 ;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}
.tickest-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: rgb(165, 44, 44);
    background-attachment: scroll;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;

}
.places-list{
    margin-top: 16px;
    }
.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
    
}
.place-heading{
    font-size: 15px;
    font-weight: 600;
}
.place-time{
    margin-top: 15px;
    color: #757575;
}
.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}

.modal{
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: rgba(0,0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}
.modal-open{
    display: flex;
}
.modal-contain{
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    background-color: #fff;
    position: relative;
    animation: modalFadeIn ease 0.5s ;
}
.modal-header{
    background-color: #8CC0DE;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-icon{
    margin-right: 16px;
}
.modal-icon-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
}
.modal-icon-close:hover{
    opacity: 0.8;
    transform: scale(1.1);
}
.modal-body{
    padding: 16px;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}
#buy-tickets{
    background-color: #8CC0DE;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
}
#buy-tickets:hover{
    cursor: pointer;
    opacity: 0.8;
}
.modal-footer{
    padding: 16px;
    text-align: right;
    
}
.modal-footer a{
    color:#2196F3;
}
@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-130px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.contact-conten{
    margin-top: 48px;
}
.contact-infor{
    font-size: 18px;
    line-height: 1.5;
}
.contact-infor i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 11px;
    border: 1px solid #ccc;
    width: 100%;
}
.map-section img{
    width: 100%;
}

#footer{
    padding: 64px 16px;
    text-align: center;
}
#footer .socials-list{
    font-size: 24px;
}
#footer .socials-list a{
    color: rgba(0,0, 0, 0.6);
    text-decoration: none;
}
#footer .copyright a:hover, 
#footer .socials-list a:hover{
    color: rgba(0,0, 0, 0.4);
}
#footer .copyright{
    margin-top: 15px;
    color: rgba(0,0, 0, 0.6);
}
#footer .copyright a{
    color: rgba(0,0, 0, 0.6);
}
